
/*.octodex{
    column-count: 3;
}   column-gap: 1em;*/

li.octocat{
    display: inline-block;
    height: 10%;
    width:10%;
    border-style: outset;
    border-radius: 5px;
    float: left;
    padding: 5px;

}

body{
    width: 120%;
}

.authors img{
    clear: both;
    width: 100px;
    height: 100px;
}

.image-number{
    font-size: 35px;
    font-family: arial, cursive;
}
span{
    font-size: 25px;
    font-family: arial, cursive;

}

.image-caption span{
    position: absolute;
    font-size: 25px;
    font-family: arial, cursive;
}
.image-footer, .authors{
    display: inline-block;
    margin-top 100px;
}