
.octodex{
    column-count: 3;
}   column-gap: 1em;

.octocat li{
    display: inline-block;
    float: right;
    width: 25%;
    margin: auto;
    border-style: outset;
    border-radius: 5px;
    /*float: left;*/
    padding: 5px;

}

body{
}

.authors{
    clear: both;
    width: 100px;
    height: 100px;
}

.image-number{
    font-size: 35px;
    font-family: arial, cursive;
}
span{
    font-size: 25px;
    font-family: arial, cursive;

}

.image-caption span{
    position: absolute;
    font-size: 25px;
    font-family: arial, cursive;
}