
/*.octodex{
    column-count: 3;
}   column-gap: 1em;*/

.octocat img{
    column-count: 3;
    column-gap: 1em;
    display: inline-block;
    /*float: left;*/
    width: 25%;
    border-style: outset;
    border-radius: 5px;
    /*float: left;*/
    padding: 5px;


}

body{
}

.authors{
    clear: both;
    width: 100px;
    height: 100px;


}

.image-number{
    font-size: 35px;
    font-family: arial, cursive;
}